<div class="details" (click)="showDetails = true">
  <div class="icon-container"><mat-icon color="warn">info</mat-icon></div>
</div>

<mat-card [@cardSlide]="animationState">
  <mat-card-title>
    {{ order.userFirstName }}
  </mat-card-title>
  <mat-card-subtitle>
    Arrival Date: {{ order.arrivalTime | date: "dd/MM/YY" }}
    <br />
    Arrival Time: {{ order.arrivalTime | date: "HH:mm" }}
  </mat-card-subtitle>
</mat-card>

<order-details
  [order]="order"
  *ngIf="showDetails"
  (closed)="closeOrderDetailsModal()"
></order-details>
