@import '_shared'

:host
    position: relative

    &:hover
        cursor: pointer

.details
    position: absolute
    height: 100%
    width: clamp(40px,7vw,60px)
    padding: 0.5em

    .icon-container
        background-color: $primaryColor
        border-radius: 5px
        display: grid
        place-items: center     
        height: 100%
        width: 100%
        transform: box-shadow 0.5s linear
        
        &:hover
            @include button-box-shadow(8px)

        &:active
            @include button-box-shadow(16px)
            
mat-card
    @include main-gradient(to left bottom)
    color: white !important
    font-family: inherit

    mat-card-subtitle
        color: inherit



