@import '_shared'
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap')

* 
    box-sizing: border-box
    font-family: 'Slabo 27px', serif  
   
html,body
    min-height: 100vh
    margin: 0

.timepicker 
  
  .timepicker__header 
    @include main-gradient()
  
  .clock-face__clock-hand 
    background-color: $primaryColor !important

    &::after 
      background-color: $primaryColor !important
    

    &::before 
      border-color: $primaryColor !important
   

  .clock-face__number 
    > span.active 
      background-color: $primaryColor !important
   

  button:not(.timepicker-dial__item) 
    color: $primaryColor !important

button[mat-fab]  
    &.lg
      width: 7em
      height: 7em
    
    &.md
      width: 3.5em
      height: 3.5em
    
 
      