<div class="container" [class.loading]="isLoading">
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <h2>{{ resetMode.toString() | i18nSelect: headerText }}</h2>
    <ng-container *ngIf="resetMode === 0">
      <div class="tui-form__row">
        <span>Type in your email</span>
        <tui-input
          formControlName="email"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldExampleText]="'mail@mail.com'"
          [tuiTextfieldSize]="'m'"
          [tuiTextfieldCustomContent]="getControl('email').valid ? success : ''"
          >Email</tui-input
        >
        <ng-container
          *ngIf="getControl('email').invalid && getControl('email').touched"
        >
          <span
            *ngIf="getControl('email').errors?.required"
            class="validation-error"
            >Email is required.</span
          >
          <span
            *ngIf="getControl('email').errors?.email"
            class="validation-error"
            >Email format is invalid.</span
          >
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="resetMode === 1">
      <div class="tui-form__row">
        <tui-input-password
          formControlName="password"
          [tuiTextfieldSize]="'m'"
          tuiHintContent="At least 5 chars"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldCustomContent]="
            getControl('password').valid ? success : ''
          "
          >Password <span class="tui-required"></span
        ></tui-input-password>
        <ng-container
          *ngIf="
            getControl('password').invalid && getControl('password').touched
          "
        >
          <span
            class="validation-error"
            *ngIf="getControl('password').errors?.required"
            >Password is required.</span
          >
          <span
            class="validation-error"
            *ngIf="getControl('password').errors?.minlength"
            >Must have at least 5 chars.</span
          >
        </ng-container>
      </div>

      <div class="tui-form__row">
        <tui-input-password
          formControlName="confirmPassword"
          [tuiTextfieldSize]="'m'"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldCustomContent]="
            getControl('confirmPassword').valid ? success : ''
          "
          >Confirm password <span class="tui-required"></span
        ></tui-input-password>
        <ng-container
          *ngIf="
            getControl('confirmPassword').invalid &&
            getControl('confirmPassword').touched
          "
        >
          <span
            class="validation-error"
            *ngIf="getControl('confirmPassword').errors?.required"
            >Password confirmation is required.</span
          >
          <span
            class="validation-error"
            *ngIf="getControl('confirmPassword').errors?.minlength"
          >
            Must have at least 5 chars.
          </span>
          <span
            class="validation-error"
            *ngIf="getControl('confirmPassword').errors?.mismatch"
          >
            Passwords dont match.
          </span>
        </ng-container>
      </div>
    </ng-container>
    <div class="tui-form__row">
      <button tuiButton size="m">Submit</button>
    </div>
  </form>
</div>

<ng-template #success>
  <tui-svg class="success tui-space_left-3" src="tuiIconCheck"></tui-svg>
</ng-template>

<load-spinner *ngIf="isLoading"></load-spinner>
