@import "theme", "sharedStyle";

* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}

body {
  color: $primaryBlack;
  @include background;
}

%headerStyle {
  text-align: center;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend %headerStyle;
  }
}

.loading {
  filter: blur(5px);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 110;
  }
}

.validation-error {
  color: $primaryRed;
  font-size: 0.85em;
  position: relative;
  left: $inputSiblingsFontSize;
}
