@import "theme", "sharedStyle";

* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}

body {
  color: $primaryBlack;
  @include background;
}

%headerStyle {
  text-align: center;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend %headerStyle;
  }
}
